<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2.base</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="root"></div>
</body>
<script>
    // createApp 表示创建一个vue应用，存储到 app 变量中
    // 传入的参数表示 ，这个应用最外层的组件，应该如何展示
    // mvvm 设计模式，m -> model 数据，v->view 视图, vm->viewModel视图数据连接层
    const app = Vue.createApp({
        data() {
            return {
                show: false,
                conditionOne: false,
                conditionTwo: true,
            }
        },
        // v-if 直接消失,从dom上移除
        // v-show display:none; 性能更好一点
        template: `
        <div v-if="show">hi</div>
        <div v-show="show">bye</div>

        <div v-if="conditionOne">if</div>
        <div v-else-if="conditionTwo">elseif</div>
        <div v-else="show">else</div>
         `
    });
    // vm 代表的就是 vue 应用的根组件
    const vm = app.mount('#root');
    // 可以 vm.$data.message='abc';
</script>

</html>